<div class="center-element">
<div ui-view="" id="main-view" tabindex="-1" role="main" class="container-fluid main-view main-view-horizontal col-md-12">
    <h1 data-component="crn-simple-text" id="crn-simple-text-402983" style="border-color: rgb(16, 48, 63); color: rgb(22, 72, 99); font-weight: bold; letter-spacing: -1px;" xattr-position="text-center" class="text-center col-md-12">Escreva abaixo sua dúvida sobre a documentação do Cronapp</h1>
</div>

<iframe src="https://www.chatbase.co/chatbot-iframe/3krmuHfsgNW93B98vmLVm" width="100%" style="min-height: 700px; width: 913px; height: 673px;" frameborder="0" class="col-md-11"></iframe>
</div>
<script>
window.embeddedChatbotConfig = {
chatbotId: "3krmuHfsgNW93B98vmLVm",
domain: "www.chatbase.co"
}
</script>
<script src="https://www.chatbase.co/embed.min.js" chatbotid="3krmuHfsgNW93B98vmLVm" domain="www.chatbase.co" defer="">
</script>


<div class="modal fade col-md-12" id="modalPassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
        <h2 class="modal-title">{{"Home.view.ChangePassword" | translate}}</h2>
      </div>
      <div class="modal-body">
        <form class="form-validation" autocomplete="off" name="form" role="form">
          <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz">
          <div class="text-danger wrapper text-center" ng-show="authError">
          </div>
          <div class="list-group list-group-sm">
              <div class="list-group-item">
                  <label for="oldPassword">{{"Home.view.Old Password" | translate}}</label>
                  <input type="password" class="form-control k-textbox" id="oldPassword" placeholder="{{'Home.view.Old Password' | translate}}" aria-label="{{'Home.view.Old Password' | translate}}" ng-required="true">
              </div>
              <div class="list-group-item">
                  <label for="newPassword">{{"Home.view.New Password" | translate}}</label>
                  <input type="password" class="form-control k-textbox" id="newPassword" placeholder="{{'Home.view.New Password' | translate}}" aria-label="{{'Home.view.New Password' | translate}}" ng-required="true">
              </div>
              <div class="list-group-item">
                  <label for="newPasswordConfirmation">{{"Home.view.Confirmation" | translate}}</label>
                  <input type="password" class="form-control k-textbox" id="newPasswordConfirmation" placeholder="{{'Home.view.Confirmation' | translate}}" aria-label="{{'Home.view.Confirmation' | translate}}" ng-required="true">
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="component-holder ng-scope" data-component="crn-button" id="crn-button-save-logged-home"> 
          <button class="btn k-button btn-block btn-success btn-fab" ng-click="changePassword()" ng-disabled="form.$invalid || vm.dataLoading" aria-label="{{'Save' | translate}}" xattr-fullsize="btn-block" xattr-theme="btn-success" xattr-disabled="">
            <i class="k-icon k-i-check" icon-theme=""></i>
          </button> 
        </div>
        <div class="component-holder ng-scope" data-component="crn-button" id="crn-button-cancel-logged-home"> 
          <button class="btn k-button btn-block btn-danger btn-fab" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}" xattr-fullsize="btn-block" xattr-theme="btn-danger" xattr-disabled="">
            <i class="k-icon k-i-close" icon-theme=""></i>
          </button> 
        </div>
      </div>
    </div>
  </div>
</div>